
#h1{
    color:rgb(218, 108, 135);
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
    }
#h2{
        color:rgb(211, 89, 120);
        font-size:25px;
        font-family:'Times New Roman', Times, serif;
    }
#h3{
        color:rgb(211, 89, 120);

        font-size:25px;
        font-family:'Times New Roman', Times, serif;
    }
    
body{
    border: solid red 5px;
    margin: 10px;
    border-radius: 13px;
    padding: 20px;
  

}

/*
grouping selector
h1,label,input
{
    background-color: antiquewhite;
}
*/


/*universal selector*/
/*
*
{
    color:black;
    background-color:rgb(196, 196, 255);
}
*/


p::first-line{
    color: brown;
}
h1::horizontal{
    color: orchid;
}